.header {
  margin: 0;
  padding: 20px 30px;
  display: flex;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.header img {
  width: 150px;
  height: 150px;
}

@media (max-width: 512px) {
  .header img {
    width: 120px;
    height: 120px;
  }
}

@media (max-width: 400px) {
  .header img {
    width: 100px;
    height: 100px;
  }
}
