.main-loader {
  width: 100%;
  margin: 8rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  position: relative;
  width: 150px;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.5);
  transform: rotate(45deg);
  overflow: hidden;
}
.loader:after {
  content: "";
  position: absolute;
  inset: 8px;
  margin: auto;
  background: #f8fafe;
}
.loader:before {
  content: "";
  position: absolute;
  inset: -40px;
  margin: auto;
  background: #de3500;
  animation: diamondLoader 2s linear infinite;
}
@keyframes diamondLoader {
  0%,
  10% {
    transform: translate(-160px, -160px) rotate(-45deg);
  }
  90%,
  100% {
    transform: translate(0px, 0px) rotate(-45deg);
  }
}
