.input-section {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

label {
  font-size: 15px;
  color: rgb(31, 31, 31);
  font-weight: 400;
}

.lable label {
  margin-right: 10px;
}

.lable button {
  background-color: #eaeaf0;
  color: rgb(77, 72, 72);
  border: 0px;
  border-radius: 5px;
  padding: 5px 10px;
}

.lable button:hover {
  cursor: pointer;
  background-color: #dadada;
}

input {
  width: 65%;
  padding: 8px;
  border-radius: 5px;
  color: rgb(65, 65, 65);
}

.input-valid {
  border: 1.5px solid rgb(182, 182, 182);
  background-color: #f9fafb;
}

.input-invalid {
  border: 1.5px solid rgb(255, 153, 153);
  background-color: #fdd2cd;
}

input:focus {
  outline: none;
}

.generate {
  background-color: #136b34;
  color: white;
  padding: 10px 20px;
  border: 0px;
  border-radius: 5px;
}

.generate:hover {
  cursor: pointer;
  background-color: #0c5c2b;
}

@media (max-width: 512px) {
  input {
    width: 80%;
  }
}
