.main-div {
  margin: 2rem auto;
  width: 80%;
}

.search-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  color: rgb(65, 65, 65);
  border: 1.5px solid rgb(182, 182, 182);
  background-color: #f9fafb;
}

input:focus {
  outline: none;
}

label {
  font-size: 15px;
  color: rgb(31, 31, 31);
  font-weight: 400;
}

.image-section {
  width: 100%;
  padding: 15px;
}

.image-section img {
  width: 200px;
}
